.Card{
  width:176px;
  position: relative;
}

.Card img{
  width:100%;
  
}
.num{
  color: grey;
}
.rating{
  display: flex;
  align-items: center;
}
.rating img{
  width:14px;
  padding: 5px;
}
.price, .person, .title{
  display:inline-block;
  font-size: 12px;
}

.dark{
  font-weight: bold;
}

.rating p{
  font-size: 14px;
}

.Container{
  margin: 30px;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  column-gap: 23px;
}

.vacancy{
  position: absolute;
  top: 7px;
  left:7px;
  font-size: 10px;
  font-weight: bold;
  background-color: rgb(250, 250, 249);
  opacity: 0.5;
  padding: 3px 5px;
  border-radius: 5px;
}
